
<div class="card-container">

  <div class="row no-gutters">

    <div xs= "12" class="pr-lg-4 col-lg-8 div-icone">
      <div class="card-container">
        <%= cl_image_tag @teacher.photo.key, class: "round" %>
        <h3><%= @teacher.first_name %> <%= @teacher.last_name %></h3>
        <hr>
        <p class="text"><%= @topic.description %></p>
        <%= link_to new_topic_path do%>
          <i class="fa-regular fa-square-plus icone-plus"></i></i>
        <% end %>
      </div>
    </div>
    <div class="d-none d-lg-block pl-lg-4 col-lg-4 ">
      <div class="sticky-top sticky-widget pt-7 is-sticky">
        <div class="card-widget h-100 d-flex flex-column reserve">
          <!-- in person or online-->
          <div class="mt-5 mb-3">
            <input data-testid="online-radio-button" type="radio" class="custom-control-input" value="online" name="__BVID__2151" id="__BVID__2153">
            <label class="custom-control-label" for="__BVID__2153">In person</label>
            <input data-testid="online-radio-button" type="radio" class="custom-control-input" value="online" name="__BVID__2151" id="__BVID__2153">
            <label class="custom-control-label" for="__BVID__2153">Online</label>
          </div>
          <!--calendar-->
          <span class="h-100">
            <div id='reservation-dates' data-controller="reservation" data-reservation-unavailable-value="<%= @teacher.reservations.pluck(:start).to_json %>" >
              <%= simple_form_for([@topic, @reservation]) do |f| %>
                <%= f.input :start, as: :string, label: "Date & time", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
                <%= f.input :end, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
                  <%= f.submit "Book Lesson", class: "btn d-inline-flex justify-content-center align-items-center btn-primary btn-lg btn-block flex-row-reverse btn-reserve" %>

              <% end %>
            </div> <!-- reservation/calendar-->
          </span>
        </div>
      </div>
    </div>

  </div>


  <div id="topics" class="profile-projects">
    <div class="d-flex justify-content-around align-items-center flex-wrap">
      <% @teacher.topics.each do |topic| %>
      <%= render "card", topic: topic %>
      <% end %>
  </div>
  </div>

</div>

<div class="container">
  <div class="d-flex justify-content-center flex-column">
    <div class="d-flex justify-content-between ">
      <h4><strong>Reviews</h4></strong>
      <h5><%=@topic.reviews.count %> reviews</h5>
    </div>
  </div>
  <% @topic.reviews.each do |review|%>
    <div class="reviews d-flex flex-column">
      <div class="m-b-4">
        <%= cl_image_tag review.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <span><strong><%= review.user.fullname %></span></strong>
      </div>
      <div>
        <p ><%=review.content%></p>
        <p class="icone">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        </p>
      </div>
    </div>
  <%end%>
</div>
