<div class="card-container">
    <%= cl_image_tag current_user.photo.key, class: "round" %>
	  <h3><%= @teacher.first_name %></h3>
    <div class="description">
	  <p><%= @topic.description %></p>
    </div>
	  <div class="buttons">
      <%= link_to  %>Offers free video chat</a>
    </div>
	<div class="skills">
		<h6>Tags</h6>
		<ul>
			<li>UI / UX</li>
			<li>Front End Development</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>React</li>
			<li>Node</li>
		</ul>
	</div>
</div>


 <div id="topics" class="profile-projects">
 <div class="d-flex justify-content-around align-items-center flex-wrap">
    <% @teacher.topics.each do |topic| %>
      <%= link_to topic_path(topic) do %>
        <div class="card">
         <%# <div class="floating"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="sarah"> Sarah H.</div> %>
          <div class="course-img" style="background-image: url('https://images.unsplash.com/file-1661973760703-91f50df21c28image?dpr=2&auto=format&fit=crop&w=416&q=60')"></div>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <h3><%= topic.category.name %></h3>
            <p> <%= topic.title %></p>
            <div class="d-flex justify-content-around align-items-center w-100 py-2" >

              <div> <i class="fa-solid fa-star"></i> <span class="text">4.9/5</span>  </div>
              <div> <span class="price"><%= topic.pph %> MAD</span> </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
        <div id='reservation-dates' data-controller="reservation" >
          <%= simple_form_for([@topic, @reservation]) do |f| %>
            <%= f.input :start, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
            <%= f.input :end, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
            <%= f.submit "book", class: "primary green" %>
          <% end %>
        </div>
 </div>
