<div id="navbar">
  <div class="container-fluid">

  <%= link_to root_path, class:"logo" do%>
    <%= image_tag "evolve.png" %>
  <% end %>
    <hr>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user) do %>
              <!--<a href="/topic/params[:id]">-->
               <% if current_user.photo.key %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>

              <span>Profile</span>
            <% end %>
          </li>

        <% else %>
          <li class="nav-item">
            <span><%= link_to "Login", new_user_session_path, class: "nav-link" %></span>
          </li>
        <% end %>

        <li >

            <%= link_to discover_path, class:"text-center" do%>
            <i class="fa-solid fa-house-user"></i>
            Home
            <% end %>

        </li>

        <li >
            <%= link_to root_path(current_user), class:"text-center" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
              Search
            <% end %>
        </li>
        <li >
        <% if user_signed_in? %>

            <%= link_to new_user_topic_path(current_user), class:"text-center" do %>
            <i class="fa-solid fa-chalkboard-user"></i>
            Become a Mentor
            <% end %>

        <% else %>
          <a href="/users/sign_in" >
          <i class="fa-solid fa-chalkboard-user"></i>
            <span class="text-center">Become a Mentor
            </span>
          </a>
        <% end %>

        </li>

        <% if user_signed_in? %>
          <li>
            <span><%= link_to "Log out", destroy_user_session_path, data: {turbo_method:    :delete}, class: "dropdown-item" %></span>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
