
<div class="container" id="topics" >
  <%# <div class="title"> <h1> All categories</h1></div> %>
    <div class="cards-wrapper">
      <div class="cards">
        <% @categories.each do |category| %>
          <form action="<%=discover_path%>" method="get">
              <input type="hidden" name="q" value = "<%= category.name %>"/>
              <input  type = "submit" value = "<%= category.name %>" class="discover"/>
            <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            </div> %>
          </form>
        <% end %>
      </div>
  </div>
  <hr>
  <div>
  <h4 >Find your ideale mentor</h4>
  <p>Connect online with trusted and verified mentors</p>
  </div>
  <br>
  <div class="container" id="topics-container">
    <div class="d-flex justify-content-around align-items-center flex-wrap" id="topics">
      <% @topics.each do |topic| %>
        <%= render "topics/card", topic: topic %>
      <% end %>
    </div>
    <div class="btn-topics">
      <%=link_to "See all courses", topics_path, class:"text-decoration-none p-2 rounded see-all-topics"%>
    </div>
  </div>
</div>
