
<div class="container">
  <div class="title"> <h1> Discover all the catagories</h1></div>
    <div class="cards-wrapper">
      <div class="cards">
        <% @categories.each do |category| %>
          <form action="<%=discover_path%>" method="get">
              <input type="hidden" name="q" value = "<%= category.name %>"/>
              <input  type = "submit" value = "<%= category.name %>" class="discover"/>
            <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            </div> %>
          </form>
        <% end %>
      </div>
  </div>
  <br>
  <div class="d-flex justify-content-around align-items-center flex-wrap" id="topics">
    <% @topics.each do |topic| %>
      <%= render "topics/card", topic: topic %>
    <% end %>
  </div>
  <div class="btn-topics">
     <%=link_to "See all topics", topics_path, class:"text-decoration-none bg-primary text-white p-2 rounded"%>
  </div>
</div>
