
<div class="container">
  <div class="title"> <h1> Discover all the catagories</h1></div>
    <div class="cards-wrapper">
      <div class="cards">
        <% @categories.each do |category| %>
          <form action="<%=discover_path%>" method="get">
              <input type="hidden" name="q" value = "<%= category.name %>"/>
              <input  type = "submit" value = "<%= category.name %>" class="discover"/>
            <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            </div> %>
          </form>
        <% end %>
      </div>
  </div>
  <br>
  <div class="d-flex justify-content-around align-items-center flex-wrap" id="topics">
    <% @topics.each do |topic| %>
        <div class="card">
        <%# <div class="floating"> <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="sarah"> Sarah H.</div> %>
          <div class="course-img" style="background-image: url('https://images.unsplash.com/file-1661973760703-91f50df21c28image?dpr=2&auto=format&fit=crop&w=416&q=60')"></div>
          <div class="d-flex flex-column justify-content-center align-items-start">
            <h3><%= topic.user.first_name %></h3>
            <p> <%= topic.title %></p>
            <div class="d-flex justify-content-around align-items-center w-100 py-2" >
              <div> <i class="fa-solid fa-star"></i> <span class="text">4.9/5</span> </div>
              <div> <span class="price"><%= topic.pph %> MAD</span> </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="btn-topics">
     <%=link_to "See all topics", topics_path, class:"text-decoration-none bg-primary text-white p-2 rounded"%>
  </div>
</div>
