
<div class="container" id="topics" >
  <%# <div class="title"> <h1> All categories</h1></div> %>
    <div class="cards-wrapper">
      <div class="cards-category">
        <% @categories.each do |category| %>
          <form action="<%=discover_path%>" method="get">
              <input type="hidden" name="q" value = "<%= category.name %>"/>
              <input  type = "submit" value = "<%= category.name %>" class="discover"/>
            <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
            </div> %>
          </form>
        <% end %>
      </div>
  </div>
  <hr>
  <div>
  <h4 >Find your ideale mentor</h4>
  <p>Connect online with trusted and verified mentors</p>
  </div>
  <br>
  <div class="container-sm">
    <div class="topic-cards">
      <% @topics.each do |topic| %>
      <%= link_to topic_path(topic), class:"text-decoration-none" do  %>
          <div class="card m-1">
          <% if topic.photo.attached? %>
            <div style="background-image: url('<%= cl_image_path topic.photo.key %>')"></div>
          <% else %>
            <img src="https://source.unsplash.com/collection/2706932/"/>
          <% end %>
          <div class="card-infos">
            <div>
              <h4 class="group-name"><%=topic.title%></h4>
              <i class="fa-solid fa-person-chalkboard"></i> <span class="event-type"><%=topic.user.first_name%></span>
              <h4 class="group-description"> <%= topic.category.name %> </h4>
              <i class="fa-solid fa-star"></i> <span class="text">4.9/5</span>
            </div>
            <h2 class="card-pricing"><%= topic.pph.round %>MAD/hour</h2>
            <% if topic.user.photo.attached? %>
              <%= cl_image_tag topic.user.photo.key, class: "card-user avatar-bordered"%>
            <% else %>
              <img src="https://source.unsplash.com/collection/gzUGvqgKHn0/" class="card-user avatar-bordered" />
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
     <div class="btn-topics">
      <%=link_to "See all courses", topics_path, class:"text-decoration-none p-2 rounded see-all-topics text-center text-white"%>
    </div>
</div>
