
<section class="container">
  <div id="card">


    <figure class="front">
      <div class="left-div">
        <div class="Text">
          <p class="content-name">Discover passion</p>
          <p class="content-title">C.</p>
          <p class="content-description">Find out what topics you fin interesting.<br/>Learn a new skill & connect with people that are passionate about similar topics.</p>
        </div>
        <div class="Search">
          <section id="explore">
            <%= form_with url: topics_path, method: :get, class: "input-group" do %>
              <%= text_field_tag :q,
                params[:q],
                class: "form-control rounded p-3",
                placeholder: "What do you want to learn?"
              %>
              <%= submit_tag "Search", class: "btn btn-outline-primary p-3" %>
            <% end %>
          </section>
        </div>
        <div class="Categories">
          <% @topics.sample(5).each do |topic| %>
          <form action="/topics" method="get">
              <input type="hidden" name="q" value = "<%= topic.category.name %>"/>
              <input  type = "submit" value = "<%= topic.category.name %>" class="cat"/>
          </form>
          <% end %>
        </div>
      </div>

      <div class="right-div">
      </div>
    </figure>
    <!--<figure class="back"></figure>!-->
  </div>
</section>
